@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body-design{
    background-image: url("./images/bgimg5.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
