.wrapheader{
    width: 85%;
    margin: auto;
    min-width: 300px;
    max-width: 1920px;
}

.nav-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(220, 220, 220) 15%;
}

.nav-li-left{
    float: left;
}


.nav-a{
    display: inline-block;
    color:black;
    text-align: center;
    padding: 7.5%;
    text-decoration: none;
}

.nav-a:hover{
    background-color:lightblue;
    cursor: pointer;
}


.nav2-li-right{
   margin: 1%;
}   

.nav2-a{
    float: right;
    padding-left: 1.5%;
}

.nav2-a:hover{
    cursor: pointer;
    background-color: rgb(220, 220, 220) 15%;
}

.images-container{
    display: inline; 
}

.nav-style{
    box-shadow: 15px 15px 25px  #00FFD5;
    position: sticky;
    background-color: whitesmoke;
}

.imgstyle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}